@using HackathonProje.Models.Entity
@model List<tblIsletme>

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!--Carosel Başlangıç(   )-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="max-height:80vh" >
        <div class="carousel-item active ">
            <img src="~/img/img1.html" width="auto" height="auto" class="d-block w-100" alt="carousel1">
        </div>
        <div class="carousel-item">
            <img src="~/img/img2.html" width="auto" height="auto" class="d-block w-100" alt="carousel2">
        </div>
        <div class="carousel-item">
            <img src="~/img/img3.html" width="auto" height="auto" class="d-block w-100" alt="carousel3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Carosel Başlangıç(   )-->
<!--Orta kısım Başlangıç-->
<!--1. kısım kartları-->
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">

        </div>


    </div>
</div>


<!--ikici kısın başlangıç-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Yakındaki İşletmeler</h4>
            <hr />
        </div>
    </div>
    @foreach (var isletme in Model)
    {

        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-3 mb-4">
                    <h5 class="card-header">@isletme.isletmeAdi <span style="float:right;" class="badge badge-pill badge-warning">Puan: @(isletme.puan == -1 ? 0 : isletme.puan )</span></h5>
                    <div class="card-body">
                        <p class="card-text">@isletme.aciklama</p>
                    </div>
                    <a href="~/IsletmeDetay/Index?isletmeId=@isletme.isletmeId" class="badge badge-light">İşletmeyi Görüntüle</a>
                </div>
            </div>
        </div>
    }
</div>

