
@{
    ViewBag.Title = "YorumYap";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h4>Karadeniz Sofrası</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <span class="input-group-text col-3">Puan</span>
                <button type="button" class="btn btn-warning">1</button>
                <button type="button" class="btn btn-warning">2</button>
                <button type="button" class="btn btn-warning">3</button>
                <button type="button" class="btn btn-warning">4</button>
                <button type="button" class="btn btn-warning">5</button>
                <button type="button" class="btn btn-warning">6</button>
                <button type="button" class="btn btn-warning">7</button>
                <button type="button" class="btn btn-warning">8</button>
                <button type="button" class="btn btn-warning">9</button>
                <button type="button" class="btn btn-warning active">10</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text">Yorum Yap</span>
                <textarea class="form-control" aria-label="With textarea" style="height:100px"></textarea>
            </div>
        </div>

    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-block">Puanla</button>

        </div>

    </div>
</div>

